@import url('tailwind.css');

:root {
  --gnb-height: 54px;
  --inner-width: 1648px;
  --indicator: 8px;
  /* KB Color System */
  --KB-positive: rgb(255, 188, 0);
  --KB-negative: rgb(255, 204, 0);
  --KB-gray: rgb(96, 88, 76);
  --KB-darkgray: rgb(84, 80, 69);
  --KB-gold: rgb(141, 116, 74);
  --KB-silver: rgb(132, 136, 139);
  /* Palette */
  --black: #000000;
  --gray: #999999;
  --lightgray: #cccccc;
  --white: #ffffff;
  --grafana: #f05a28;
  --rhea: #fcb22b;
}

@font-face {
  font-family: 'KBFGTextL';
  src: url('./fonts/KBFGTextL.eot');
  src: local('※'), url('./fonts/KBFGTextL.eot?#iefix') format('embedded-opentype'), url('./fonts/KBFGTextL.woff') format('woff');
}
@font-face {
  font-family: 'KBFGTextM';
  src: url('./fonts/KBFGTextM.eot');
  src: local('※'), url('./fonts/KBFGTextM.eot?#iefix') format('embedded-opentype'), url('./fonts/KBFGTextM.woff') format('woff');
}
@font-face {
  font-family: 'KBFGDisplayM';
  src: url('./fonts/KBFGDisplayM.eot');
  src: local('※'), url('./fonts/KBFGDisplayM.eot?#iefix') format('embedded-opentype'), url('./fonts/KBFGDisplayM.woff') format('woff');
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  font-family: 'KBFGTextM', 'Arial', sans-serif;
  color: #333;
  background-color: #f7f7f7;
}

button,
input,
optgroup,
select,
textarea {
  /* line-height: normal; */
  letter-spacing: inherit;
}
select {
  appearance: none;
  outline: 0;
  cursor: pointer;
}
select option:disabled {
  color: var(--lightgray);
}
.slt {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='%23000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
  background-position: right 10px center;
}
.slt:disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='%23999'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
}
input {
  background: transparent;
  outline: 0;
}
input[type='text'] {
  caret-color: var(--KB-positive);
}
input[type='checkbox'],
input[type='radio'] {
  width: 17px;
  height: 17px;
  vertical-align: text-top;
}
button,
button:focus {
  outline: 0;
}
button:disabled {
  cursor: default;
}
textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  outline: 0;
  resize: none;
  caret-color: var(--KB-positive);
}
label {
  display: inline-block;
  cursor: pointer;
}
a {
  cursor: pointer;
}
i,
em {
  font-style: normal;
}

caption {
  height: 0;
  overflow: hidden;
}

img,
svg {
  display: inline;
}

::selection {
  color: var(--white);
  background: var(--KB-gray);
}

input::placeholder {
  color: var(--gray);
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fi {
  display: inline-block;
  line-height: 1;
}
.fi::before {
  vertical-align: top;
}

#app {
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}
.container-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--gnb-height));
  margin-top: var(--gnb-height);
  justify-content: space-between;
}
.content-wrapper {
  position: relative;
  width: 100%;
  max-width: var(--inner-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}
.content-head {
  padding: 3rem 0 2rem;
}
.content-head .content-title {
  font-size: 2.5rem;
  cursor: default;
}
.content-inner {
  position: relative;
  margin: 0 auto;
}
.footer {
  position: relative;
  width: 100%;
  max-width: var(--inner-width);
  margin: 70px auto 0;
  padding: 0 1.5rem;
}
.footer .inner {
  padding: 1.5rem 0;
  text-align: center;
  font-family: 'KBFGTextL';
  font-size: 13px;
  color: var(--gray);
  border-top: 1px solid #e4e4e4;
}
.btn-top {
  position: fixed;
  bottom: 3rem;
  right: 1.5rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

/* elements */
#content .section-title {
  position: relative;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
}

/* controls */
.controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 2.5rem;
}
.controls .slt {
  min-width: 120px;
  height: 100%;
  padding-top: 2px;
  padding-right: 2.5rem;
  padding-left: 15px;
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
}

/* toolbar */
.toolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toolbar .both-part,
.toolbar .left-part,
.toolbar .right-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -0.25rem;
}
.toolbar .both-part {
  flex: 1;
}
.toolbar .left-part {
  margin-right: auto;
}
.toolbar .right-part {
  margin-left: auto;
}
.toolbar .tool {
  position: relative;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.toolbar .tool:not(.ml-auto) {
  margin-left: 0.25rem;
}
.toolbar .slt,
.toolbar .inp-t,
.toolbar .btn {
  height: 2.5rem;
  font-size: 13px;
  color: #444;
  border-radius: 5px;
}
.toolbar .slt,
.toolbar .inp-t {
  width: 10rem;
  padding-top: 1px;
  padding-right: 2rem;
  padding-left: 0.75rem;
  background-color: #fff;
  border: 1px solid #bbb;
}
.toolbar .slt:focus,
.toolbar .inp-t:focus {
  border-color: #5e5d5b;
}
.toolbar .btn {
  min-width: 100px;
  padding: 0 1rem;
  color: #fff;
  white-space: nowrap;
  background-color: var(--KB-gray);
}
.toolbar .btn .fi {
  vertical-align: 1px;
}
.toolbar .btn-clear {
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  width: 1.8rem;
  height: 1.5rem;
  margin: auto;
  padding-left: 0.25rem;
  text-align: left;
  background-color: #fff;
}
.toolbar .btn-clear .fi {
  display: flex;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  background-color: var(--lightgray);
  border-radius: 50%;
}
.toolbar .btn-reset {
  height: 2.5rem;
  color: #fff;
  background-color: #a5a5a5;
  border-radius: 5px;
}

.toggle {
  position: relative;
}
.toggle .inp {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.toggle .label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 2.5rem;
  background: linear-gradient(to right, var(--KB-gray) 50%, #d1d1d1 50%);
  border-radius: 5px;
  cursor: pointer;
}
.toggle .inp:checked + .label {
  background: linear-gradient(to left, var(--KB-gray) 50%, #d1d1d1 50%);
}
.toggle .label::before,
.toggle .label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #fff;
}

.toggle .label::before {
  left: 11px;
  content: '최근';
}
.toggle .label::after {
  right: 11px;
  content: '기간';
}

.btn-refresh {
  display: inline-block;
  height: 2.5rem;
  color: #fff;
  background-color: var(--KB-positive) !important;
}
.controls .btn-refresh {
  width: 2.5rem;
}
.btn-refresh.on .fi {
  animation: rotate 1s;
}
@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* event popup */
.data-list {
  font-size: 13px;
  cursor: default;
}
.data-list > li {
  display: flex;
}
.data-list > li:not(:first-child) {
  padding-top: 0.75rem;
}
.data-list .tit {
  font-weight: normal;
  color: #888;
}
.data-list .con {
  position: relative;
}
.data-list > li.flex-row .tit {
  flex-basis: 30%;
}
.data-list > li.flex-row .con {
  flex-basis: 70%;
}
.data-list > li.flex-col .tit {
  padding-bottom: 0.5rem;
}
.data-list textarea {
  background-color: rgb(238 238 238 / 40%);
  border-radius: 5px;
}

/* guide text */
.guide {
  position: relative;
  padding-left: 1.25rem;
  font-weight: normal;
  font-family: 'KBFGTextL';
  font-size: 14px;
  line-height: 24px;
  color: #666;
  word-break: keep-all;
  cursor: default;
}
.guide .fi {
  position: absolute;
  top: 0.25rem;
  left: 0;
  font-size: 15px;
  color: var(--gray);
}

.code {
  margin: 0 0.5px;
  padding: 2px 0.375rem 0;
  font-size: 13px;
  color: #888;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
}
.highlight {
  font-family: 'KBFGTextM';
  text-decoration: none;
  box-shadow: inset 0 -5px #fbef97;
}

.info-tbl {
  position: relative;
  padding: 1rem 1.5rem 0.5rem;
  background-color: rgb(239 229 214 / 40%);
  border-radius: 5px;
  cursor: default;
}
.info-tbl .row {
  display: flex;
}
.info-tbl .row:not(:first-child) {
  margin-top: 10px;
}
.info-tbl dl {
  display: flex;
  align-items: baseline;
  min-width: 20%;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.info-tbl .tit {
  position: relative;
  margin-right: 0.75rem;
  font-family: 'KBFGTextL';
  color: #877b6c;
  white-space: nowrap;
}
.info-tbl .con {
  white-space: nowrap;
}

.resource-type {
  margin-right: 0.5rem;
  padding: 2px 7px 0;
  color: rgb(0 0 0 / 50%);
  background: var(--white);
  border-width: 1px;
  border-color: rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
